.content-column {
  float: left;
  width: calc(100% - 260px);
}

.caret-right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid black;
}

.main-img {
  float: left;
  margin-right: 10px;
}

.mobile-menu {
  .mobile-menu-example {
    display: block;
  }
}

.navbar {

  label {
    display: none;
  }

  .navbar-item {
    display: block;
    font-size: 20px;
  }
}