blockquote {
  font-style: italic;
}

#colin-pic {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.caret-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}

.creation-date {
  font-style: italic;
}

footer {
  text-align: center;
}

.hide {
  display: none !important;
}

// Modal Styles

.modal {
  &.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .7);
  }

  &.container {
    position: fixed;
    max-width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 5px black;
  }

  .header {
    padding: 15px;
    font-size: 18px;
  }

  .body {
    overflow: hidden;
    text-align: center;

    .flag {
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      transition: background-color .2s linear;

      &:hover {
        background-color: rgb(240, 240, 240);
      }

      img {
        height: 50px;
        vertical-align: -70px;
      }
    }
  }

  .footer {
    padding: 0 15px;
    text-align: right;
  }
}

// Navbar Styles

.navbar {

  background-color: white;
  border-bottom: 1px solid black;
  margin-bottom: 10px;

  .caret-right {
    display: none;
  }

  &.container {
    width: 100%;
  }

  h1 {
    float: left;
    margin: 10px;
  }

  label {
    margin: 20px 25px 0 0;
    float: right;
  }

  #mobile-nav {

    display: none;

    &:checked {

      ~ .row .navbar-item {
        display: block;
      }
    }
  }
  
  .navbar-item {
    display: none;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;

    &:first-child {
      margin-left: 10px;
    }

    &.current {
      .caret-right {
        display: inline-block;
      }
    }
  }

  > .row {
    margin-bottom: 0;
    clear: both;
  }
}

// Portfolio Styles

.portfolio {
  
  #learning-img {
    display: block;
    margin: auto;
    max-width: 651px;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  nav ul {
    list-style: none;
  }
}