blockquote {
  font-style: italic;
}

body {
  overflow-x: hidden; /* meow */
}

body > footer {
  text-align: center;
}

.caret-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}

.clear {
  clear: both;
}

.creation-date {
  font-style: italic;
}

dt {
  margin-top: 2.5rem;
}

.hide {
  display: none !important;
}

.main-img, .section-img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 225px;
}

// Article Styles

blockquote {
  margin-left: 3%;
  margin-right: 3%;

  footer {
    margin-left: 5%;
  }
}

.sage {
  h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 3rem;
  }

  .mobile-menu-example {
    display: none;
  }

  figure {
    text-align: center;

    img {
      max-width: 100%;
      border: 2px solid black;
    }
  }
}

.ornate {
  text-align: center;
  border-bottom: 1px dashed;
  line-height: 60%;

  span {
    background-color: white;
    line-height: 100%;
  }
}

ol {
  margin-left: 5%;
}

// Modal Styles

.modal {
  &.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .7);
  }

  &.container {
    position: fixed;
    max-width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 5px black;
  }

  .header {
    padding: 15px;
    font-size: 18px;
  }

  .body {
    overflow: hidden;
    text-align: center;

    .flag {
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      transition: background-color .2s linear;

      &:hover {
        background-color: rgb(240, 240, 240);
      }

      img {
        height: 50px;
        vertical-align: -70px;
      }
    }
  }

  .footer {
    padding: 0 15px;
    text-align: right;
  }
}

// Navbar Styles

.navbar {

  background-color: white;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  position: fixed;
  z-index: 1;

  + .container {
    padding-top: 80px;
  }

  .caret-right {
    display: none;
  }

  &.container {
    width: 100%;
  }

  .banner {
    float: left;
    margin-left: 5px;

    a {
      color: $font-color;
      font-size: 4rem;
      text-decoration: none;
    }
  }

  label {
    margin: 20px 25px 0 0;
    padding: 1px;
    box-sizing: border-box;
    outline: 1px dotted transparent;
    float: right;
  }

  #mobile-nav {

    @include vendor-prefix(transform, scale(0)); 

    &:focus + label {
      outline-color: black;
    }

    &:checked {

      ~ .row .navbar-item {
        display: block;
      }
    }
  }
  
  .navbar-item {
    display: none;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;

    &:first-child {
      margin-left: 10px;
    }

    &.current {
      .caret-right {
        display: inline-block;
      }
    }
  }

  > .row {
    margin-bottom: 0;
    clear: both;
  }
}

.nav-pill {
  text-transform: capitalize;
}

.social-link img {
  max-width: 32px;
}

// Portfolio Styles

.portfolio {

  dt {
    font-weight: bold;
  }

  .klass img {
    display: block;
    margin: 1rem auto;
  }
  
  #learning-img {
    display: block;
    margin: auto;
    max-width: 651px;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  nav ul {
    list-style: none;

    li {
      text-align: center;
    }
  }

  section {

    border: 1px solid $border-color;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;

    &:hover {
      cursor: pointer;
      background-color: #eeeeee;
    }

    .klass {
      display: none;
    }

    &.expanded {
      .klass {
        display: block;
      }
    }
  }
}

// By Vigor Styles

.by-vigor {
  .header-logo {
    width: 100%;
    max-width: 500px;
  }

  .logo {
    width: 100px;
  }
}

// Comics Styles

.comics {
  text-align: center;

  img {
    width: 100%;
  }

  figure {
    margin: 0;
    padding: 5px;
    border: 1px solid black;
  }

  figcaption {
    font-weight: bold;
  }
}

// Resolution Specific Utilities

.hidden-xs {
  display: none;
}
.visible-xs {
  display: block;
}
.visible-xs-inline {
  display: inline;
}

.pull-right-tablet, .pull-right-phablet, .pull-right-desktop, .pull-right-desktophd, .pull-right-huge {
  float: none;
}
.pull-left-tablet, .pull-left-phablet, .pull-left-desktop, .pull-left-desktophd, .pull-left-huge {
  float: none;
}

// Alerts

.alert {
  padding: 15px;
  border-width: 1px;
  border-style: solid;

  &.alert-error {
    border-color: #FFB0B0;
    background-color: #FFF0F0;
  }
}

// Boxes

.box {
  border: 1px solid #ddd;
  margin-bottom: 15px;

  .box-header {
    background-color: #f9f9f9;
    font-size: 3rem;
    padding: 15px;
    border-bottom: 1px solid #ddd;

    // Direct siblings? Remove top border
    &+ .box-footer {
      border-top: none;
    }
  }

  .box-content {
    padding: 15px;
  }

  .box-footer {
    padding: 15px;
    border-top: 1px solid #ddd;

    button {
      margin-bottom: 0;
    }
  }
}