blockquote {
  font-style: italic;
}

body {
  overflow-x: hidden;
}

.caret-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}

.clear {
  clear: both;
}

.creation-date {
  font-style: italic;
}

footer {
  text-align: center;
}

.hide {
  display: none !important;
}

.main-img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

// Article Styles

.mobile-menu {
  h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 3rem;
  }

  .mobile-menu-example {
    display: none;
    text-align: center;

    h3 {
      text-align: left;
    }

    img {
      width: 600px;
      border: 2px solid black;
    }
  }
}

// Modal Styles

.modal {
  &.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .7);
  }

  &.container {
    position: fixed;
    max-width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 5px black;
  }

  .header {
    padding: 15px;
    font-size: 18px;
  }

  .body {
    overflow: hidden;
    text-align: center;

    .flag {
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      transition: background-color .2s linear;

      &:hover {
        background-color: rgb(240, 240, 240);
      }

      img {
        height: 50px;
        vertical-align: -70px;
      }
    }
  }

  .footer {
    padding: 0 15px;
    text-align: right;
  }
}

// Navbar Styles

.navbar {

  background-color: white;
  border-bottom: 1px solid black;
  margin-bottom: 10px;

  .caret-right {
    display: none;
  }

  &.container {
    width: 100%;
  }

  .banner {
    float: left;
    margin-left: 5px;

    a {
      color: $font-color;
      font-size: 4rem;
      text-decoration: none;
    }
  }

  label {
    margin: 20px 25px 0 0;
    padding: 1px;
    box-sizing: border-box;
    border: 1px dotted transparent;
    float: right;
  }

  #mobile-nav {

    width: 0;
    height: 0;

    &:focus + label {
      border-color: black;
    }

    &:checked {

      ~ .row .navbar-item {
        display: block;
      }
    }
  }
  
  .navbar-item {
    display: none;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;

    &:first-child {
      margin-left: 10px;
    }

    &.current {
      .caret-right {
        display: inline-block;
      }
    }
  }

  > .row {
    margin-bottom: 0;
    clear: both;
  }
}

// Portfolio Styles

.portfolio {

  dt {
    font-weight: bold;
  }

  .klass img {
    display: block;
    margin: 1rem auto;
  }
  
  #learning-img {
    display: block;
    margin: auto;
    max-width: 651px;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  nav ul {
    list-style: none;

    li {
      text-align: center;
    }
  }

  section {

    border: 1px solid $border-color;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;

    &:hover {
      cursor: pointer;
      background-color: #eeeeee;
    }

    .klass {
      display: none;
    }

    &.expanded {
      .klass {
        display: block;
      }
    }
  }
}