.content-column {
  float: left;
  width: calc(100% - 260px);
}

.caret-right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid black;
}

.main-img, .section-img {
  float: left;
  margin-right: 10px;
}

.section-img {
  max-width: 300px;
  padding: 1px;
  border: 1px solid black;
}

.sage {
  .mobile-menu-example {
    display: block;
  }
}

.navbar {

  position: relative;
  z-index: auto;

  + .container {
    padding-top: initial;
  }

  label {
    display: none;
  }

  #mobile-nav {
    display: none;
  }

  .navbar-item {
    display: block;
    font-size: 20px;
  }
}

.ornate span {
  line-height: inherit;
}